h1 {
    color: darkred;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #FF0000;
   
}

p {
    color: rgb(51, 204, 51);
    text-align: justify;
    text-indent: 2000px;
   
}

em {
    color: #0033cc;
    text-decoration: underline;
    text-transform: capitalize;

}

img{

    vertical-align: super;
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
}


/* HECHO CON HSL
em {
    color: hsl(225, 100%, 40%);
}
*/